
/*!--------TIPOGRAFIA---------*/


/*!--------RESET---------*/

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

/*!--------HEADER---------*/

header {
    background-color:  #FAF0CA;
    position: sticky;
    top: 0;
}

header p{
    text-align: center;
    background-color: #242825;
    color: white;
}

.contenedor-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.titulo{
    display: flex;
}

header img{
    height: 48px;
}

h1 a{
    font-family:'Lobster', cursive;
    color: #ACA885;
    font-size: 45px;
    list-style: none;
    text-decoration: none;
    display: inline-block;
}

.sesion{
    padding: 3%;
    display: flex;
}

.palabras{
    margin-top: 3px;
}

.contenedor-header .sesion .carro img{
    height: 28px;
    margin-left: 10px;
}

.sesion a{
    text-decoration: none;
    list-style: none;
}

.border-right{
    padding: 0 5px;
}

.border-left{
    border-left: 3px solid  #aca885;
    padding: 0 10px;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

header nav ul li{
    margin: 20px;
    font-family: 'Russo One', sans-serif;
}

header nav ul li a{
    text-decoration: none;
    color: #ACA885;
}

dl, ol, ul{
    margin-bottom: 0;
}

/*!--------MAIN---------*/

main{
    background-color:  #FAF0CA;
    font-family: 'Poppins', sans-serif;
}

.productos > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.productos div div{
    border: 2px solid  #aca885;
    width: 220px; 
    height: 370px;
    text-align: center;
    background-color: #FAF0CA;
    color: white;
    margin: 17px;
}

.productos div div h3{
    font-size: 23px;
    
}

.productos div img{
    width: 100%;
    height: 75%;
}


.boton{
    text-decoration: none;
    color: white;
    background-color: #8f8d72;
    font-size: 18px;
    font-weight: 900;
    padding: 1px;
}

.seguicomprando{
    text-align: center;
    margin-top: 57px;
    padding-bottom: 60px;
}

.seguicomprando div a{
    text-decoration: none;
    color: aliceblue;
    background-color: #8f8d72;
    padding: 15px;
    border-radius: 15px;
}

/*!--------FOOTER---------*/

footer {
    background-color: #3e4541;
    bottom: 0;
}

.row-container{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 50px;
}

.row-container h3{
    font-size: 23px;
}

.row-container img{
    height: 40px;
    margin-right: 20px;
}

.envios-img{
    display: flex;
}

.envios-conteiner{
    border-right: 3px solid  #12110a;
    margin-right: 1%;
}

.pago-img{
    display: flex;
}

.pago-img img{
    margin-left: 20px;
}

.seguridad-img{
    display: flex;
    margin-left: 3%;
    border-left: 3px solid black
}

.seguridad-img img{
    margin-left: 8%;
}

.grid-footer{
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 50px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-areas: 
    "navegacion contactanos redes";
}

footer nav{
    grid-area: navegacion;
}

footer nav ul{
    margin-top: 10px;
    list-style: none;
}

footer nav ul li a{
    text-decoration: none;
    color: white;
}

.contactanos{
    grid-area: contactanos;
}

.contactanos h3{
    margin-bottom: 10px;
}

.contactanos img{
    height: 40px;
}

.redes{
    grid-area: redes;
}

.redes h3{
    margin-bottom: 10px;
}

.redes img{
    height: 48px;
}

.redes a img{
    width: 50px;
    height: 50px;
}

.footer-legal p{
    text-align: center;
    background-color: #242825;
    color: white;
}

/*!--------MEDIA QUERY---------*/

@media screen and (max-width:1020px){
    .border-right{display: none;}
    .border-left{border: none;
    }
}

@media screen and (max-width:836px){
    .titulo{text-align: center;}
    .contenedor-header nav{width: 28%;}
    .border-left{display: none;}
    .row-container{display: flex; justify-content: center;}
    .envios-conteiner{border: none;}
    .pago-img{display: none;}
    .seguridad-img{display: none;}
    .grid-footer{grid-template-areas:"navegacion navegacion redes"}
    .contactanos{display: none;}
}

@media screen and (max-width:535px){
    .contenedor-header nav{display: none;}
}

@media screen and (max-width:386px){
    .carro{display: none;}
    .redes{display: flex; flex-wrap: wrap;}
}

/*!--------PSEUDO CLASE---------*/

.boton:hover{
    background-color: aliceblue;
    color: aqua;
}

/*--------PRODUCTOS--------*/


/*--------SESION-CREAR--------*/

.formulario{
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main form{
    width: 60%;
}

/*--------SESION-INICIAR--------*/