footer {
    background-color: $color-secundario;
    bottom: 0;
    .row-conteiner{
        @include flex(flex, center, none);
        padding-top: 70px;
        padding-bottom: 50px;
        .envios-img{
            display: flex;
            img{
                height: $footer-img-height;
                margin-right: 20px;}
            .envios-conteiner{
                border-right: 3px solid  #12110a;
                margin-right: 1%;
                h2{font-size: 23px;}
            }
        }
        .pago-img{
            display: flex;
            img{
                height: $footer-img-height;
                margin-left: 23px;
                margin-right: 15px;
            }
            .pago-conteiner h2{font-size: 23px;}
        }
        .seguridad-img{
            display: flex;
            margin-left: 3%;
            border-left: 3px solid black;
            img{
                height: $footer-img-height;
                margin-left: 8%;
                margin-right: 3%;
            }
            .seguridad-conteiner h2{font-size: 23px;
            }
        }
    }
    .grid-footer{
        margin-top: 40px;
        margin-bottom: 60px;
        margin-left: 50px;
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-areas: 
        "navegacion contactanos redes";
        nav{
            grid-area: navegacion;
            ul{    
                margin-top: 10px;
                list-style: none;
            li a{
                text-decoration: none;
                color: rgb(0, 0, 0);
            }
            }
            }
        .contactanos{
            grid-area: contactanos;
            h3{margin-bottom: 10px;}
            a{
                text-decoration: none;
                color: #12110a;
            }
        }
        .redes{
            grid-area: redes;
            h3{margin-bottom: 10px;}
            img{height: 48px;}
        }
        }
        .footer-legal p{
            text-align: center;
            background-color: #646263;
            color: white;
        }
}
