header{
    background-color: $color-primario;
    position: sticky;
    z-index: 100;
    top: 0;
    .contenedor-header{
        @include flex(flex, space-between, center);
        padding: 2px;
        .titulo{
            display: flex;
            img{
                height: 48px;
            }
            h1 a{
                font-family:'Lobster', cursive;
                color: $tipografia-color;
                font-size: 45px;
                text-decoration: none;
                display: inline-block;
            }
        }
        .sesion{
            padding: 3%;
            display: flex;
            .sesion a{
                text-decoration: none;
                transition: text-decoration 1s;
            }
            .palabras{
                margin-top: 3px;
                .border-right{
                    padding:0 5px;
                    text-decoration: none;
                    color: $tipografia-color;
                }
                .border-right:hover{
                    text-decoration: underline;
                    color: $color-hover;
                }
                .border-left{
                    border-left: 3px solid  #aca885;
                    padding: 0 10px;
                    text-decoration: none;
                    color: $tipografia-color;
                        }
                .border-left:hover{
                    text-decoration: underline;
                    color: $color-hover;
                }
            }
            .carro img{height: 28px;
                        margin-left: 10px;}
        }
    }
    .options{
        ul{
            list-style: none;
            @include flex(flex, center, center);
            padding-bottom: 10px;
            li{
                margin: 15px;
                font-family: 'Russo One', sans-serif;
                a{ 
                    text-decoration: none;
                    color: #ACA885;
                    transition: 1s;
                }
                a:hover{
                    color: $color-hover;
                }
            }
        }
    }
}
