
main{
    background-color: $color-primario;
    font-family: 'Poppins', sans-serif;
    .productos > div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        div{
            border: 2px solid  #aca885;
            width: 220px; 
            height: 370px;
            text-align: center;
            background-color: #cfcba5;
            color: white;
            margin: 17px;
            img{width: 100%;
                height: 75%;}
            h2{font-size: 23px;}
            .boton{ 
                @extend %boton;
            }
        }
    }
    .seguicomprando{
        text-align: center;
        margin-top: 57px;
        padding-bottom: 60px;
        div a{
            text-decoration: none;
            color: aliceblue;
            background-color: #8f8d72;
            padding: 15px;
            border-radius: 15px;
        }
    }
}