main{
    #carouselExampleIndicators{
        max-height: 530px; 
        overflow: hidden; 
        .carousel-inner{
            .carousel-item img{
                max-height: 80%;
                width: auto; 
            }
        }
    }
    .card-group{
            .card-body{
                background-color: $color-primario;
            }
    }
}

