@media screen and (max-width:1020px){
    header .contenedor-header .sesion .palabras{
    .border-right{display: none;}
    .border-left{border: none;}
    }
}

@media screen and (max-width:836px){
    header{
        .contenedor-header{
            nav{width: 28%;}
            .titulo{text-align: center;}
            .sesion .palabras{.border-left{display: none;}}
        }
    }    
    footer{
        .row-conteiter{
            display: flex; 
            justify-content: center;
            .envios-img .envios-conteiner{border: none;}
            .pago-img{display: none;}
            .seguridad-img{display: none;}
        }
        .grid-footer{
            grid-template-areas:"navegacion navegacion redes";
            .contactanos{display:none;}
        }
    }
}

@media screen and (max-width:573px){
    header .contenedor-header{
        nav{display: none;}
        .titulo{display: flex; justify-content: center;}
    }
    footer .row-conteiner{
        .envios-img{display: none;}
        .seguridad-img{display: none;}
    }
}

@media screen and (max-width:386px){
    header .contenedor-header .sesion .carro{display: none;}
    footer .grid-footer .redes{
        display: flex;
        flex-wrap: wrap;
    }
}