$color-primario: #FAF0CA;
$tipografia-color: #ACA885;
$color-secundario:#ecccd7;

$footer-img-height: 40px;

//extends

%boton{
    text-decoration: none;
    color: $color-primario;
    background-color: #8f8d72;
    font-size: 18px;
    font-weight: 900;
    padding: 2.5px;
}

//mixin

@mixin flex($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}


